<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Receita</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <header>
        <h1>Cadastrar Receita</h1>
    </header>
    <div>
        
        <!-- Formulário para Cadastrar Receita -->
        <form method="post" class="form">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_descricao">Descrição</label>
                {{ form.descricao }}
            </div>

            <div class="form-group">
                <label for="id_valor">Valor</label>
                {{ form.valor }}
            </div>

            <div class="form-group">
                <label for="id_data">Data</label>
                <input type="date" id="id_data" name="data" required class="input">
            </div>

            <div class="botoes-form">
                <button type="submit" class="btn-acao">Salvar</button>
                <a href="{% url 'home' %}" class="btn-acao">Cancelar</a>
            </div>
        </form>
        
    </div>
</body>
</html>
