<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Despesa</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>

<body>
   <!-- Cabeçalho -->
   <header class="header-container">
    <div class="header-content">
        <a href="/" class="header-logo">
            <i class="fas fa-piggy-bank"></i>
        </a>

        <nav class="header-nav">
            <ul class="nav-list">
                <li><a href="/" class="nav-link">Início</a></li>
                <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
                <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
                <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
            </ul>
        </nav>

        <!-- Botão de logout -->
        <form action="{% url 'logout' %}" method="post" class="header-logout">
            {% csrf_token %}
            <button type="submit" class="logout-button">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>

        <!-- Menu Hambúrguer -->
        <div class="menu-hamburguer" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>
<nav class="nav-list-mobile" id="mobileMenu">
    <ul>
        <li><a href="/" class="nav-link">Início</a></li>
        <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
        <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
        <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
    </ul>
</nav>
    <main>
        <!-- Título da Página -->
        <div class="titulo-pagina">
            <h1>Cadastrar Despesa</h1>
        </div>
    
        <!-- Formulário para Cadastrar Despesa -->
        <form method="post" class="form">
            {% csrf_token %}
    
            <!-- Campo Categoria -->
            <div class="form-group">
                <label for="id_categoria">Categoria</label>
                {{ form.categoria }}
            </div>
    
            <!-- Campo Descrição -->
            <div class="form-group">
                <label for="id_descricao">Descrição</label>
                {{ form.descricao }}
            </div>
    
            <!-- Campo Valor -->
            <div class="form-group">
                <label for="id_valor">Valor</label>
                {{ form.valor }}
            </div>
    
            <!-- Campo Data -->
            <div class="form-group">
                <label for="id_data">Data</label>
                {{ form.data }}
            </div>
    
            <!-- Botões de Ação -->
            <div class="botoes-form">
                <button type="submit" class="btn-acao">Salvar</button>
                <a href="{% url 'home' %}" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </main>
    
   

   

    <footer>
        <p>&copy; 2024 Finanças Pessoais</p>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('mobileMenu');
            menu.classList.toggle('show');
        }
    </script>
</body>

</html>