<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles.css' %}">
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>

<body>
    <!-- Cabeçalho -->
    <header class="header-container">
        <div class="header-content">
            <a href="/" class="header-logo">
                <i class="fas fa-piggy-bank"></i>
            </a>

            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Início</a></li>
                    <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
                    <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
                    <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
                </ul>
            </nav>
            <a>
                <form action="{% url 'logout' %}" method="post" class="header-logout">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </a>
        </div>
    </header>

    <main>
        <!-- Seção de saldo -->
        <section class="section-saldo">
            <h2>Saldo</h2>
            <p class="saldo-valor" id="saldo-calculado">R$ {{ saldo|floatformat:2 }}</p>
        </section>

        <!-- Seção de receitas e despesas -->
        <section class="section-caixas">
            <div class="caixa-receita">
                <i class="fas fa-wallet icone-receita"></i>
                <div class="conteudo-receita">
                    <h3>Receitas do mês</h3>
                    <p class="valor">R$ {{ receitas_mes|floatformat:2 }}</p>
                </div>
            </div>

            <div class="caixa-despesa">
                <i class="fas fa-shopping-cart icone-despesa"></i>
                <div class="conteudo-despesa">
                    <h3>Despesas do mês</h3>
                    <p class="valor">R$ {{ despesas_mes|floatformat:2 }}</p>
                </div>
            </div>
        </section>

        <div class="botoes-rec-desp">
            <a href="{% url 'cadastrar_receita' %}" class="btn-rec">Adicionar Receita</a>
            <a href="{% url 'cadastrar_despesa' %}" class="btn-desp">Adicionar Despesa</a>
        </div>

        <!-- Seção de gráficos individuais de reserva por categoria -->
        <div class="contorno-grafico">
            <section class="grafico-categoria">

                <div class="grafico-container">
                    {% for reserva in reservas_por_categoria %}
                    <div class="grafico-categoria">
                        <h3>{{ reserva.categoria }}</h3>
                        <canvas id="graficoCategoria{{ forloop.counter }}" style="width: 100%; height: 30px;"></canvas>
                        <div class="legenda-grafico">
                            <p>R$ {{ reserva.valor_gasto|floatformat:2 }} de R$ {{ reserva.valor_reservado|floatformat:2}}</p>
                            <p>Faltam R$ {{ reserva.saldo_restante|floatformat:2 }} </p>
                        </div>

                        {% endfor %}
                    </div>
            </section>
        </div>


    </main>

    <footer>
        <p>&copy; 2024 Finanças Pessoais</p>
    </footer>

    <script>
        {% for reserva in reservas_por_categoria %}
        var ctx{{ forloop.counter }} = document.getElementById('graficoCategoria{{ forloop.counter }}').getContext('2d');
        var graficoCategoria{{ forloop.counter }} = new Chart(ctx{{ forloop.counter }}, {
            type: 'bar',  // Mudamos para 'bar'
            data: {
                labels: [''],
                datasets: [{
                    label: 'Gasto de {{ reserva.categoria }}',
                    data: [{{ reserva.valor_gasto }}],
                borderWidth: 0,  // Remove a borda da barra
                backgroundColor: '#3B7FCD',
                barThickness: 20,  // Define uma espessura fixa para as barras
            }]
        },
            options: {
            responsive: true,
            indexAxis: 'y',  // Configuração para tornar o gráfico horizontal
            layout: {
                padding: {
                    top: 0,
                    bottom: 0,
                    left: 0,
                    right: 0
                }
            },

            plugins: {
                legend: {
                    display: false,  // Removido a legenda
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            var gasto = tooltipItem.raw;
                            return 'Gasto Atual: R$ ' + gasto;
                        }
                    }
                }
            },
            scales: {
                x: {
                    beginAtZero: true,
                    max: {{ reserva.valor_reservado }},
            ticks: {
            display: false,
            drawBorder: false,  // Remove a linha lateral do eixo Y (opcional)

            callback: function (value, index, values) {
                if (index === 0 || index === values.length - 1) {
                    return value;
                }
                return '';
            }
        },
            grid: {
            display: false,  // Remove a grade do eixo X
            drawBorder: false,
        }
                    },

            y: {
            grid: {
                display: false,  // Remove a grade do eixo Y
                drawBorder: false,  // Remove a linha lateral do eixo Y (opcional)
            }
        }
                }
            }
        });
        {% endfor %}
    </script>
</body>

</html>