<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Despesas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header-container">
        <div class="header-content">
            <a href="/" class="header-logo">
                <i class="fas fa-piggy-bank"></i>
            </a>

            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Início</a></li>
                    <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
                    <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
                    <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
                </ul>
            </nav>
            <a>
                <form action="{% url 'logout' %}" method="post" class="header-logout">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </a>
        </div>
    </header>
    <main>
        <!-- Título da Página -->
        <div class="titulo-pagina">
            <h1>Lista de Despesas</h1>
        </div>
    
        <!-- Tabela de Despesas -->
        <div class="despesas-container">
            <table class="tabela-despesas">
                <thead class="cabecalho-despesas">
                    <tr>
                        <th class="col-descricao">Descrição</th>
                        <th class="col-valor">Valor</th>
                        <th class="col-data">Data</th>
                        <th class="col-categoria">Categoria</th> <!-- Nova coluna para Categoria -->
                    </tr>
                </thead>
                <tbody class="corpo-despesas">
                    {% for despesa in despesas %}
                    <tr class="linha-despesa">
                        <td class="col-descricao">{{ despesa.descricao }}</td>
                        <td class="col-valor">R$ {{ despesa.valor|floatformat:2 }}</td>
                        <td class="col-data">{{ despesa.data }}</td>
                        <td class="col-categoria">{{ despesa.get_categoria_display }}</td> <!-- Exibe a categoria com o texto legível -->
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="mensagem-sem-despesas">Nenhuma despesa registrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <!-- Botões para Cadastrar Nova Despesa -->
        <div class="botao-lista">
            <a href="{% url 'cadastrar_despesa' %}" class="botao-acao">Adicionar Despesa</a>
        </div>
    </main>
    
    
        
    
    <footer>
        <p>&copy; 2024 Finanças Pessoais</p>
    </footer>
</body>
</html>
