<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        

        <h1>Reservas em {{ categoria }}</h1>
<table>
    <tr>
        <th>Valor</th>
        <th>Mês</th>
        <th>Ano</th>
    </tr>
    {% for reserva in reservas %}
    <tr>
        <td>{{ reserva.valor_reservado }}</td>
        <td>{{ reserva.mes }}</td>
        <td>{{ reserva.ano }}</td>
    </tr>
    {% endfor %}
</table>

        <a href="{% url 'cadastrar_reserva' %}" class="btn btn-primary mt-3">Cadastrar Nova Reserva</a>
    </div>

    <!-- Scripts JS para o Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
