<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="header-container">
        <div class="header-content">
            <a href="/" class="header-logo">
                <i class="fas fa-piggy-bank"></i>
            </a>

            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Início</a></li>
                    <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
                    <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
                    <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
                </ul>
            </nav>

            <!-- Botão de logout -->
            <form action="{% url 'logout' %}" method="post" class="header-logout">
                {% csrf_token %}
                <button type="submit" class="logout-button">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>

            <!-- Menu Hambúrguer -->
            <div class="menu-hamburguer" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <nav class="nav-list-mobile" id="mobileMenu">
        <ul>
            <li><a href="/" class="nav-link">Início</a></li>
            <li><a href="/listar_receitas" class="nav-link">Receitas</a></li>
            <li><a href="/listar_despesas" class="nav-link">Despesas</a></li>
            <li><a href="/listar_reservas" class="nav-link">Metas</a></li>
        </ul>
    </nav>
    <div class="container mt-5">
        

        <h1>Reservas em {{ categoria }}</h1>
<table>
    <tr>
        <th>Valor</th>
        <th>Mês</th>
        <th>Ano</th>
    </tr>
    {% for reserva in reservas %}
    <tr>
        <td>{{ reserva.valor_reservado }}</td>
        <td>{{ reserva.mes }}</td>
        <td>{{ reserva.ano }}</td>
    </tr>
    {% endfor %}
</table>

        <a href="{% url 'cadastrar_reserva' %}" class="btn btn-primary mt-3">Cadastrar Nova Reserva</a>
    </div>

    <!-- Scripts JS para o Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer>
        <p>&copy; 2024 Finanças Pessoais</p>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('mobileMenu');
            menu.classList.toggle('show');
        }
    </script>
</body>
</html>
