/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo dos itens do cabeçalho */
header .header-item {
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* Hover para os links */
header .header-item:hover {
    color: #FFD700; /* Amarelo dourado ao passar o mouse */
}

/* Botões no cabeçalho */
header .header-button {
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .header-button:hover {
    background-color: #003f7f;
}

nav ul.menu {
    list-style: none; /* Remove os marcadores */
    padding: 0;
    margin: 0;
    display: flex; /* Coloca os itens lado a lado */
    gap: 20px; /* Espaçamento entre os itens */
}

nav ul.menu li {
    margin: 0;
}

nav ul.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul.menu li a:hover {
    background-color: #007bff;
    color: #fff;
}


/* Seção do saldo */
.saldo {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.saldo h2 {
    font-size: 22px;
    color: #474646;
    font-weight: lighter;
}

.saldo-valor {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
}

/* Seção de receitas e despesas */
.caixas {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.caixa {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.caixa h3 {
    font-size: 20px;
    color: #0000008c;
    font-weight: lighter;
}

.valor {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #1E88E5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    background-color: #1565C0;
}

/* Seção de categorias */
.saldo-categorias {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.saldo-categorias h3 {
    font-size: 22px;
    color: #333;
}

.ajustar-metas {
    display: inline-block;
    font-size: 16px;
    color: #1E88E5;
    text-decoration: none;
    margin-top: 10px;
}

.ajustar-metas:hover {
    text-decoration: underline;
}

.categoria {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.categoria span {
    font-size: 18px;
    color: #333;
    flex: 1;
}

.progresso {
    height: 8px;
    border-radius: 5px;
    margin-right: 15px;
}

.categoria p {
    font-size: 14px;
    color: #666;
}

/* Rodapé */
footer {
    background-color: #2D6A4F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.cabeçalho-saldo-categorias {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Distribui os itens para os extremos da div */
}

/* Estilos para o gráfico de barras */
.categoria-grafico {
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove as linhas entre as células */
    margin: 20px 0;
}

/* Estilo para as células da tabela */
table td, table th {
    padding: 12px;
    text-align: left; /* Alinha o texto à esquerda nas células */
    vertical-align: middle;
}

/* Estilo para as cabeçalhos da tabela */
table th {
    background-color: #007BFF;
    color: white;
    text-align: left; /* Cabeçalhos centralizados */
    font-weight: bold;
}

/* Remove bordas das células */
table td {
    border: none;
}

/* Estilo para as categorias, que são agrupadas por categorias */
.categoria {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.bordas-tabela{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do botão de ação */
.btn-acao {
    
    padding: 12px 20px;
    background-color: #007BFF; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    text-align: center;
    border-radius: 8px; /* Bordas arredondadas */
    border: 2px solid #007BFF; /* Cor da borda */
    cursor: pointer; /* Cursor em forma de mão */
    transition: all 0.3s ease; /* Animação suave para as transições */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Sombra suave */
    text-decoration: none;
}

/* Efeito hover (quando o botão é passado com o mouse) */
.btn-acao:hover {
    background-color: #0056b3; /* Cor de fundo mais escura no hover */
    border-color: #0056b3; /* Cor da borda no hover */
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3); /* Aumenta a sombra no hover */
    transform: translateY(-2px); /* Dá um efeito de "subir" no botão */
}


.botoes{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.botoes-form{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}


/* Estilo geral do formulário */
form {
    
    
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    
    
    
    

    
    
    
}

/* Título principal do formulário */
form h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para cada linha de campo (rótulo e campo de entrada) */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

/* Rótulo do campo (título da categoria) */
.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left; /* Alinha o rótulo à esquerda */
    width: 30%; /* Largura fixa para os rótulos */
    margin-right: 10px;
}

/* Campo de entrada do formulário (input, textarea, select, etc.) */
.form-group input,
.form-group select,
.form-group textarea {
    width: 65%; /* Largura maior para os campos */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease;
    text-align: left;
}

/* Efeito de foco nos campos */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007BFF; /* Cor de borda no foco */
    outline: none; /* Remove o contorno padrão */
}

/* Estilo para o botão de envio */
button[type="submit"] {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




/* Responsividade para telas menores */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        width: 100%;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        width: 100%;
    }
}
