/* Estilos gerais */
body,
h1,
h2,
h3,
p,
div,
nav,
footer,
header,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}



/* Cabeçalho Geral */
/* Cabeçalho Geral */
.header-container {
    background-color: #3B7FCD;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

/* Logo */
.header-logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fbfbfc;
    text-decoration: none;
    line-height: 1.5;
}

.header-logo:hover {
    color: #19191a;
}

/* Navegação */
.header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-link {
    color: #fffefe;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
    color: #000000;
    background-color: #00000028;
    border-radius: 4px;
}

/* Botão de Logout */
.logout-button {
    background-color: #3B7FCD;
    color: #fffefe;
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    font-size: 2rem;
}

.logout-button:hover {
    color: #000000;
}

/* Menu Hambúrguer */
/* Menu Hambúrguer */
.menu-hamburguer {
    display: none;  /* Esconde o hambúrguer por padrão */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburguer div {
    width: 25px;
    height: 3px;
    background-color: #fffefe;
    margin: 4px 0;
}

/* Estilo do menu em telas pequenas */
.nav-list-mobile {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #3b7fcda9;
    padding: 20px;
    position: absolute;
    top: 60px;   /* Coloca o menu abaixo do botão */
    left: 50%;   /* Centraliza o menu horizontalmente */
    transform: translateX(-50%); /* Ajusta o deslocamento para centralizar */
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Mostrar a lista de navegação em dispositivos pequenos quando o menu hambúrguer é clicado */
.nav-list-mobile.show {
    display: flex;  /* Exibe o menu quando a classe 'show' for adicionada */
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .header-nav {
        display: none;  /* Esconde o menu de navegação tradicional */
    }

    .menu-hamburguer {
        display: flex;  /* Exibe o menu hambúrguer */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);  /* Alinha o hambúrguer no centro da tela */
    }

    .header-content {
        justify-content: space-between;  /* Organiza os itens na header */
    }

    /* Logout à direita */
    .header-logout {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .logout-button {
        font-size: 1.5rem;
        color: #fffefe;
        background-color: transparent;
    }
}

@media (min-width: 769px) {
    /* Versão Desktop */
    .menu-hamburguer{
        display: none;  /* Esconde o hambúrguer e o logout na versão desktop */
    }
}



/* Seção do saldo */
.section-saldo {
    background-color: #F5F5F5;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(9, 102, 223, 0.1);
    /* Horizontal, Vertical, Difusão, Cor */
    margin-top: 20px;
}

.section-saldo h2 {
    color: #767676;
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 0;
    /* Remove qualquer margem inferior */
    line-height: 1.5;
    /* Ajusta o espaçamento entre linhas do h2 */

}

.section-saldo p {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    /* Remove a margem superior do <p> */
    line-height: 0.8;
    /* Ajusta o espaçamento entre linhas do <p> */
}


/* --------------------------------------------------*/

/* Seção de receitas e despesas */
.section-caixas {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    /* Permite que as caixas se reorganizem em telas menores */
}

/*-----------------------------------------------------------*/
/* Estilo do card de receita */
.caixa-receita {
    border: #19191a;
    background-color: #F5F5F5;
    padding: 20px;
    /* Reduzido para menor espaçamento */
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(18, 143, 45, 0.1);
    /* Horizontal, Vertical, Difusão, Cor */
    display: flex;
    align-items: center;
    /* Alinha o ícone, título e valor verticalmente */
    justify-content: center;
    /* Alinha o conteúdo ao lado do ícone */
    min-height: 140px;
    /* Altura reduzida para o card */
    box-sizing: border-box;
    /* Inclui padding e bordas no cálculo da largura */
    transition: all 0.3s ease;
    /* Transição suave para ajustes de tamanho */
}

.icone-receita {
    font-size: 2.5rem;
    /* Reduzido o tamanho do ícone */
    color: #070707;
    /* Cor do ícone */
    margin-right: 15px;
    /* Espaço entre o ícone e o conteúdo */
}

.conteudo-receita {
    display: flex;
    flex-direction: column;
    /* Organiza título e valor em coluna */
    justify-content: center;
    /* Alinha o texto ao centro */
    text-align: left;
    /* Alinha o texto à esquerda */
}

.caixa-receita h3 {
    color: #1E1E1E;
    font-weight: lighter;
    margin: 0;
}

.caixa-receita p {
    color: #0a6328;
    font-weight: normal;
    font-size: 1.7rem;
    /* Ajustado o tamanho da fonte */
}

/*------------------------------------------------------*/
/* Estilo do card de despesa */
.caixa-despesa {
    border: #19191a;
    background-color: #F5F5F5;
    padding: 20px;
    /* Reduzido para menor espaçamento */
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(250, 1, 1, 0.1);
    /* Horizontal, Vertical, Difusão, Cor */
    display: flex;
    align-items: center;
    /* Alinha o ícone, título e valor verticalmente */
    justify-content: center;
    /* Alinha o conteúdo ao lado do ícone */
    min-height: 140px;
    /* Altura reduzida para o card */
    box-sizing: border-box;
    /* Inclui padding e bordas no cálculo da largura */
    transition: all 0.3s ease;
    /* Transição suave para ajustes de tamanho */
}

.icone-despesa {
    font-size: 2.5rem;
    /* Reduzido o tamanho do ícone */
    color: #070707;
    /* Cor do ícone */
    margin-right: 15px;
    /* Espaço entre o ícone e o conteúdo */
}

.conteudo-despesa {
    display: flex;
    flex-direction: column;
    /* Organiza título e valor em coluna */
    justify-content: center;
    /* Alinha o texto ao centro */
    text-align: left;
    /* Alinha o texto à esquerda */
}

.caixa-despesa h3 {
    color: #1E1E1E;
    font-weight: lighter;
    margin: 0;
}

.caixa-despesa p {
    color: #F11A1A;
    font-weight: normal;
    font-size: 1.7rem;
    /* Ajustado o tamanho da fonte */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .section-caixas {
        display: flex;
        justify-content: space-between;
        transform: scale(0.9);
        /* Reduz escala sem alterar a estrutura */
        /* Organiza as caixas em coluna em telas pequenas */
        margin-left: 0;
        margin-right: 0;
    }

    .caixa-receita,
    .caixa-despesa {
        width: 50%;
        /* Garante que os cards ocupem toda a largura disponível */
        margin-bottom: 15px;
        /* Espaçamento entre os cards */
        
    }

    .caixa-receita h3,
    .caixa-despesa h3 {
        font-size: 1.5rem;
        /* Ajusta o tamanho do título em telas menores */
    }

    .caixa-receita p,
    .caixa-despesa p {
        font-size: 1.8rem;
        /* Ajusta o tamanho do valor em telas menores */
    }

    .icone-receita,
    .icone-despesa {
        font-size: 3rem;
        /* Reduz o tamanho do ícone em telas pequenas */
    }
}

/* Botões de receitas e despesas */
.botoes-rec-desp {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1px;
}

.btn-rec {
    background-color: #0769302f;
    /* Cor cinza */
    color: #fff;
    border-radius: 3px;
    /* Arredondando as bordas */
    font-size: 0.9rem;
    text-decoration: none;
    width: 45%;
    text-align: center;
    padding: 10px;
}

.btn-rec:hover {
    background-color: #076930;
    /* Cor cinza */
}

.btn-desp {
    background-color: #6907072f;
    /* Cor cinza */
    color: #fff;
    border-radius: 3px;
    /* Arredondando as bordas */
    font-size: 0.9rem;
    text-decoration: none;
    width: 45%;
    text-align: center;
    padding: 10px;
}

.btn-desp:hover {
    background-color: #690707dc;
    /* Cor cinza */
}

/* Cabeçalho de saldo e categorias */
.header-saldo-categorias {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.header-saldo-categorias h3 {
    color: #3a3a3a;
    font-size: 1.5rem;
    margin-top: 40px;
    font-weight: lighter;
}


.section-saldo-categorias {
    background-color: #F5F5F5;
    display: flex;
    padding: 20px;
    flex-direction: column;

}


/*---------------------------*/
.caixa-categorias {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.caixa-categorias h4 {
    color: #000000;
    font-size: 1.3rem;

}

/*---------------------------*/

.progresso {
    display: flex;
    justify-content: space-between;

}

/*---------------------------*/
.legenda-grafico {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 20px;
    padding-right: 20px;
    margin-top: 0;

}

.legenda-grafico p {

    text-align: left;
    /* Força o alinhamento do texto à esquerda caso necessário */
    font-weight: lighter;
    color: #767676;
}

/*---------------------------*/


footer {
    background-color: #3B7FCD;
    color: #fff;
    text-align: center;
    position: sticky;
    /* Torna o rodapé pegajoso */
    bottom: 0;
    left: 0;
    width: 100%;
    /* Faz o rodapé ocupar toda a largura da tela */
    padding: 10px 20px;
    /* Ajusta o espaçamento interno */
    margin-top: 50px;
}

/*------------------------------------------------------*/
/* Estilos Gerais */
.titulo-pagina {
    padding: 30px;
    text-align: center;
}

/*---------------------------------------------------------------*/

/* Estilos Gerais */
.titulo-pagina {
    padding: 30px;
    text-align: center;
}

/*---------------------------------------------------------------*/

/* Contêiner geral da tabela */
.receitas-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
    text-align: center;
    /* Centraliza a tabela na tela */
}

/* Tabela de receitas */
.tabela-receitas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    transform-origin: center;
    /* Define o ponto de escala */
}

/* Cabeçalho da tabela */
.cabecalho-receitas th {
    background-color: transparent;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 12px;
}

.cabecalho-receitas .col-valor {
    text-align: right;
}

.cabecalho-receitas .col-data {
    text-align: center;
}

/* Corpo da tabela */
.corpo-receitas td {
    padding: 12px;
    vertical-align: middle;
    word-wrap: break-word;
}

.corpo-receitas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.corpo-receitas tr:nth-child(odd) {
    background-color: #fdfdfd;
}

/* Mensagem de "sem receitas" */
.mensagem-sem-receitas {
    text-align: center;
    font-style: italic;
    color: #555;
    background-color: #f9f9f9;
    padding: 12px;
}

/* Botão para adicionar receita */
.botao-lista {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.botao-acao {
    text-decoration: none;
    background-color: #256ab9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-acao:hover {
    background-color: #1f5e9e;
    color: #666565;
}

/*---------------------------------------------------------------*/

/* Responsividade */
@media (max-width: 768px) {
    .receitas-container {
        max-width: 100%;
    }

    .tabela-receitas {
        font-size: 14px;
        transform: scale(0.9);
        /* Reduz o tamanho sem modificar estrutura */
    }

    .cabecalho-receitas th {
        font-size: 14px;
        padding: 8px;
    }

    .corpo-receitas td {
        padding: 8px;
    }

    .botao-lista {
        flex-direction: column;
        align-items: center;
    }
}

/*---------------------------------------------------------------*/

/* Contêiner geral da tabela */
.despesas-container {
    padding: 20px;
    margin: 0 auto;
    max-width: calc(100% - 300px);
    /* Centraliza com margem de 150px dos lados */
    box-sizing: border-box;
    /* Inclui padding no cálculo do tamanho total */
    text-align: center;
    /* Centraliza a tabela */
}

/* Tabela de despesas */
.tabela-despesas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    transform-origin: center;
    /* Define o ponto de escala */
}

/* Cabeçalho da tabela */
.cabecalho-despesas th {
    background-color: transparent;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 12px;
}

.cabecalho-despesas .col-valor {
    text-align: right;
}

.cabecalho-despesas .col-data,
.cabecalho-despesas .col-categoria {
    text-align: center;
}

/* Ajustando a largura das colunas */
.col-descricao {
    width: 40%;
}

.col-valor {
    width: 15%;
}

.col-data {
    width: 15%;
}

.col-categoria {
    width: 10%;
}

/* Corpo da tabela */
.corpo-despesas td {
    padding: 12px;
    vertical-align: middle;
    word-wrap: break-word;
}

.col-descricao {
    text-align: left;
}

.col-valor {
    text-align: right;
}

.col-data {
    text-align: center;
}

.col-categoria {
    text-align: left;
}

/* Fundo das linhas do corpo da tabela */
.corpo-despesas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.corpo-despesas tr:nth-child(odd) {
    background-color: #fdfdfd;
}

/* Linha de despesa */
.linha-despesa td {
    border: none;
}

/* Mensagem de "sem despesas" */
.mensagem-sem-despesas {
    text-align: center;
    font-style: italic;
    color: #555;
    background-color: #f9f9f9;
    padding: 12px;
}

/*---------------------------------------------------------------*/

/* Responsividade */
@media (max-width: 768px) {
    .despesas-container {
        max-width: 100%;
    }

    .tabela-despesas {
        font-size: 14px;
        transform: scale(0.9);
        /* Reduz escala sem alterar a estrutura */
    }

    .cabecalho-despesas th {
        font-size: 14px;
        padding: 8px;
    }

    .corpo-despesas td {
        padding: 8px;
    }
}


/*---------------------------------------------------------------*/


/* Contêiner geral da tabela */
/* Contêiner geral da tabela */
.reservas-container {
    padding: 20px;
    margin: 0 auto;
    max-width: calc(100% - 300px);
    /* Margem mínima de 150px dos lados */
    box-sizing: border-box;
    /* Inclui o padding no cálculo total */
    text-align: center;
    /* Centraliza a tabela */
}

/* Tabela de reservas */
.tabela-reservas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    transform-origin: center;
    /* Define o ponto de escala */
}

/* Cabeçalho da tabela */
.cabecalho-reservas th {
    background-color: transparent;
    color: #000;
    text-align: left;
    font-weight: bold;
    padding: 12px;
}

.cabecalho-reservas .col-valor {
    text-align: right;
}

.cabecalho-reservas .col-acoes {
    text-align: center;
}

.cabecalho-reservas .col-categoria {
    text-align: left;
}

/* Ajustando a largura das colunas */
.col-categoria {
    width: 40%;
}

.col-valor {
    width: 30%;
}

.col-acoes {
    width: 10%;
}

/* Corpo da tabela */
.corpo-reservas td {
    padding: 12px;
    vertical-align: middle;
    word-wrap: break-word;
}

.col-categoria {
    text-align: left;
}

.col-valor {
    text-align: right;
}

.col-acoes {
    text-align: center;
}

/* Fundo das linhas do corpo da tabela */
.corpo-reservas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.corpo-reservas tr:nth-child(odd) {
    background-color: #fdfdfd;
}

/* Linha de reserva */
.linha-reserva td {
    border: none;
}

/* Mensagem de "sem reservas" */
.mensagem-sem-reservas {
    text-align: center;
    font-style: italic;
    color: #555;
    background-color: #f9f9f9;
    padding: 12px;
}

/* Botão de editar */
.btn-editar {
    background-color: #256ab9;
    color: white;
    padding: 3px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: #0056b3;
}

.btn-editar:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.btn-editar.disabled {
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
}

/* ---------------------------------------------------- */

/* Responsividade */
@media (max-width: 768px) {
    .reservas-container {
        max-width: 100%;
    }

    .tabela-reservas {
        font-size: 14px;
        transform: scale(0.9);
        /* Reduz escala para dispositivos menores */
    }

    .cabecalho-reservas th {
        font-size: 14px;
        padding: 8px;
    }

    .corpo-reservas td {
        padding: 8px;
    }

    .btn-editar {
        font-size: 12px;
        padding: 2px 12px;
    }
}

/* ---------------------------------------------------- */

/* Estilo para o formulário */
.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* Centraliza o formulário na tela */
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Estilo para os campos do formulário */
.form-group {
    margin-bottom: 15px;
}

/* Estilo para os labels */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

/* Estilo para os campos de entrada (input, select, textarea) */
.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilo para o botão de ação */
.botoes-form {
    display: flex;
    justify-content: space-between;
}

.botoes-form .btn-acao {
    padding: 10px 20px;
    background-color: #3B7FCD;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    width: 48%;
}

.botoes-form .btn-acao:hover {
    background-color: #0056b3;
}

.botoes-form .btn-acao:active {
    background-color: #003f7f;
}

.btn-acao+.btn-cancelar {
    margin-left: 10px;
}

.btn-cancelar {
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    width: 48%;
}

.btn-cancelar:hover {
    background-color: #5a6268;
    /* Tom de cinza mais escuro ao passar o mouse */
}

.btn-cancelar:active {
    background-color: #343a40;
    /* Tom ainda mais escuro para clique */
}

/*---------------------------------------------------------------*/

.caixa-resumo {
    display: flex;
    justify-content: flex-end;
    /* Alinha ao lado esquerdo */
    align-items: flex-start;
    /* Alinha no topo */
    min-height: 100vh;
    /* Garante que o contêiner ocupe a altura total da tela */
    padding: 20px;
    /* Espaçamento interno para evitar o contato com a borda */

}

.section-reservas-categorias {
    flex: 0 0 auto;
    /* Evita que a seção redimensione automaticamente */
    width: 500px;
    /* Largura fixa para a seção */
    background-color: #f9f9f9;
    /* Cor de fundo para destaque */
    border: 1px solid #ddd;
    /* Borda para separar visualmente */
    padding: 20px;
    border-radius: 8px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.section-reservas-categorias p {
    font-size: .8rem;
}

.contorno-grafico {
    background-color: #F5F5F5;
    margin-top: 50px;
}

.grafico-categoria h3 {
    margin-left: 15px;
    margin-top: 10px;
}